.menu-btn {
    display: none;
    width: 38px;
    height: 38px;

    background: rgba(28, 28, 28, 0.8);
    border: none;
    border-radius: 5px;

    cursor: pointer;

    position: fixed;
    right: 32px;
    top: 40px;
    z-index: 10;

    &__item {
        display: block;
        width: 80%;
        height: 3px;

        font-size: 0;
        color: transparent;

        background: #6ebbd3;

        position: absolute;
        left: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        transition: all 0.3s linear;

        &::after,
        &::before {
            content: "";
            width: 100%;
            height: 100%;

            background: #6ebbd3;
            position: absolute;
            left: 0;

            transition: all 0.3s linear;
        }

        &::before {
            transform: translateY(-10px);
        }

        &::after {
            transform: translateY(10px);
        }
    }
}

.menu--active {
    transform: translateY(300px);
}

.menu-btn--active {
    background: transparent;

    .menu-btn__item {
        background: transparent;

        &::before {
            transform: translateY(0);
            transform: rotate(-45deg);
        }

        &::after {
            transform: translateY(0);
            transform: rotate(45deg);
        }
    }
}

@media (max-width: 767px) {
    .main {
        .scroll-top {
            right: 32px;
        }
    }

    .header {
        &__phone {
            text-align: center;
            justify-self: center;
            margin: 0 auto;
        }
    }

    .menu-btn {
        display: block;
    }

    .menu {
        width: 100%;
        text-align: left;

        position: fixed;
        background: rgba(28, 28, 28, 0.95);
        top: -310px;
        left: 0;
        z-index: 9;

        transition: all 1s linear;

        &__list {
            flex-direction: column;

            padding-top: 84px;
            padding-bottom: 36px;
        }

        &__item {
            padding: 3px 35px;
            margin: 10px 0px;
        }
    }

    .footer {
        &__form {
            flex-direction: column;
        }
        &__form-group {
            margin: 24px 0;
        }

        &__input {
            width: 100%;
            margin-right: 0;
        }

        &__btn {
            width: 100%;
        }
    }

    .filter {
        text-align: center;

        &__label {
            display: block;
            width: 100%;

            margin-bottom: 30px;
        }

        &__by-price {
            margin-bottom: 5px;
        }
    }
}

@media (max-width: 485px) {
    .header {
        &__phone {
            width: 100%;
            text-align: center;
            justify-self: center;
            margin: 0 auto 30px;
        }
    }

    .nots {
        top: 50px;
        right: 0;
    }
}
