header.header 
    .container 
        .header__inner 
            .header__row 
                img(class="header__logo" src="images/logo.svg", alt="logo")

                nav.menu 
                    ul.menu__list
                        li.menu__item
                            a(class="menu__link" href="/") Main
                        li.menu__item
                            a(class="menu__link" href="/") Gallery
                        li.menu__item
                            a(class="menu__link" href="/") News
                        li.menu__item
                            a(class="menu__link" href="/") Profile
                button.menu-btn
                    span.menu-btn__item menu

                .header__phone 
                    a(class="header__phone-link" href="tel:+544349000000") +544 3490 00000 
                    p.header__phone-text Звони скорее!

            h3.header__title Найдено 349 котов



        